*,
::before,
::after {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #000000;
}
/* .fa,
.fab,
.fad,
.fal,
.far,
.fas {
  display: block;
} */
.fa-star {
  color: #0065fc;
}
/* ********************************************** */
body {
  font-family: "Raleway", sans-serif;
  min-width: 375px;
}
main {
  margin: 0 2rem;
}
/* ******************* ELEMENTS ******************* */
h2 {
  margin-bottom: 1rem;
}
h3 {
  font-size: 1rem;
}
.titres {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: 20px;
}
.carte_2 {
  background-color: white;
  padding: 0.375rem;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  transition-duration: 0.1s;
  cursor: pointer;
  box-sizing: border-box;
  height: 100%;
}

/* ******************* NAV ******************* */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-img {
  padding: 0 2rem;
}
.contenaire-nav {
  display: flex;
}
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}
.nav-a {
  padding: 2rem;
  border-top: 3px solid transparent;
  transition: 0.2s;
}
.nav-connect {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #0065fc;
  padding: 2rem;
  border-top: 3px solid transparent;
}
.nav-a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}
.menu-nav:visited {
  color: gray;
}
/* ******************* RECHERCHE ******************* */

.recherche {
  margin-bottom: 40px;
}
.recherche-titre {
  margin: 20px 0px;
}
.recherche form input {
  width: 234px;
  height: 50px;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  border: 1px solid #f2f2f2;
  outline: none;
}
.recherche form button {
  width: 135px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  background-color: #0065fc;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
}
.fa-search:before {
  display: none;
}

.recherche-icone-emplacement {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  min-width: 50px;
  min-height: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.recherche-champs {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
/* ******************* FILTRES ******************* */

.filtres {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.filtres-btn ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.filtres-btn li {
  display: flex;
  align-items: center;
  margin-right: 24px;
  margin-bottom: 15px;
}
.filtres-btn li i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  background-color: #deebff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.filtres-btn li a {
  display: block;
  margin-left: -50px;
  font-size: 1rem;
  font-weight: bold;
  padding: 14px;
  border: 2px solid #d9d9d9;
  border-radius: 40px;
  padding-left: 60px;
  z-index: -1;
}
.filtres-infos {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}
.filtres-infos i {
  font-size: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  border: 1px solid #d9d9d9;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
/* ******************* HEBERGEMENT ******************* */
.HebergementsEtPopulaires {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.hebergements {
  display: flex;
  background-color: #f2f2f2;
  max-width: 64%;
  min-width: 300px;
  padding: 2rem 0 2rem 2rem;
  border-radius: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 2rem 2rem 0;
}
.hebergements-contenaire {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.hebergements-carte {
  background-color: white;
  border: 5px solid white;
  border-radius: 1rem;
  min-width: 246px;
  height: 12.5rem;
  display: flex;
  flex: auto;
  align-items: center;
  margin: 0 2rem 2rem 0;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative;
}
.hebergements-carte-image {
  width: 100%;
  height: 60%;
  max-height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 1rem 1rem 0 0;
  top: 0px;
}
figcaption {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  line-height: 10px;
  padding: 15px 0 5px 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.hebergements-carte-prix {
  font-size: 0.8rem;
}
.etoiles {
  display: flex;
}
.etoileGrise {
  color: gray;
}
/* .carte_2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
/* ******************* POPULAIRES ******************* */

.populaires {
  display: flex;
  background-color: #f2f2f2;
  width: 20%;
  min-width: 300px;
  padding: 2rem;
  border-radius: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}
/************************* Media Queries *************************/
@media screen and (max-width: 600px) {
  main {
    margin: 0 2rem;
  }
  .nav {
    justify-content: space-around;
    flex-basis: 100%;
    order: 2;
  }
  .nav a {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
  }
  .nav-a:hover {
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
    border-top: 3px solid transparent;
  }
  .nav-connect {
    order: 1;
  }
  .fa-search:before {
    display: block;
  }
  .btn-titre {
    display: none;
  }
  /* .hebergements {
    width: 100%;
  }
  .populaires {
    width: 100%;
  } */
}
