*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  transition: 0.2s;
}
body {
  font-family: "Raleway", sans-serif;
  margin-left: 30px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0px 30px 0px;
}
nav ul {
  display: flex;
}
nav li a {
  margin-right: 50px;
  color: #0065fc;
}
.nav-connect {
  font-weight: bold;
}
.nav-a:hover {
  font-weight: bold;
  border-top-width: 3px;
  padding-block-start: 60px;
  border-top-style: solid;
}
.menu-nav:visited {
  color: gray;
}
